<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<title>{{ site.title }}</title>
		<meta name="description" content="{{ site.description }}">

		<link type="image/png" rel="apple-touch-icon" href="/Hive-Weather/img/icon/57x57.png"  />
		<link type="image/png" rel="apple-touch-icon" href="/Hive-Weather/img/icon/76x76.png" sizes="76x76" />
		<link type="image/png" rel="apple-touch-icon" href="/Hive-Weather/img/icon/120x120.png" sizes="120x120" />
		<link type="image/png" rel="apple-touch-icon" href="/Hive-Weather/img/icon/152x152.png" sizes="152x152" />
		<link type="image/png" rel="apple-touch-icon" href="/Hive-Weather/img/icon/180x180.png" sizes="180x180" />
		<link type="image/png" rel="icon" href="/Hive-Weather/img/icon/192x192.png" sizes="192x192" />
		<link type="image/png" rel="icon" href="/Hive-Weather/img/icon/128x128.png" sizes="128x128" />

		<link type="text/css" rel="stylesheet" href="/Hive-Weather/css/normalize.css">
		<link type="text/css" rel="stylesheet" href="/Hive-Weather/css/vendor/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="/Hive-Weather/css/vendor/bootstrap-theme.min.css">
		<link type="text/css" rel="stylesheet" href="/Hive-Weather/css/main.css">

		<script type="text/javascript" src="/Hive-Weather/js/vendor/modernizr-2.8.3.min.js"></script>
	</head>
	<body ng-app="hive-weather">
		<div class="container">
			<nav ng-controller="searchController" class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/Hive-Weather/">
							<img alt="Hive Weather" class="brand-image" src="/Hive-Weather/img/icon/icon.svg" />
							Hive Weather
						</a>
					</div>
					<form class="navbar-form navbar-right" ng-submit="search()">
						<input type="text" class="form-control" ng-model="searchTerm" uib-typeahead="location as location.name for location in searchAutoComplete($viewValue)" typeahead-min-length="3" typeahead-wait-ms="1000">
						<div class="btn-group">
							<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
							<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Automatically use your current location" ng-click="searchAuto()">Auto</button>
						</div>
					</form>
				</div>
			</nav>

			<div class="main-view">
				<div class="conditionLabel" ng-bind="conditionLabel"></div>
				<div>

				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				<div class="pull-right">
					<img class="visible-md-block visible-lg-block" src="/Hive-Weather/img/vendor/wunderground_horizontal.png" alt="Weather Underground" />
					<img class="visible-sm-block visible-xs-block" src="/Hive-Weather/img/vendor/wunderground_vertical.png" alt="Weather Underground" />
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="/Hive-Weather/js/vendor/jquery-3.2.0.min.js"></script>

		<script type="text/javascript" src="/Hive-Weather/js/vendor/bootstrap.min.js"></script>
		<script type="text/javascript" src="/Hive-Weather/js/vendor/angular.min.js"></script>
		<script type="text/javascript" src="/Hive-Weather/js/vendor/ui-bootstrap-tpls-2.5.0.min.js"></script>

		<script type="text/javascript" src="/Hive-Weather/js/app.js"></script>
		<script type="text/javascript" src="/Hive-Weather/js/config.js"></script>

		<script type="text/javascript" src="/Hive-Weather/js/services/geoLookupService.js"></script>
		<script type="text/javascript" src="/Hive-Weather/js/services/conditionsService.js"></script>

		<script type="text/javascript" src="/Hive-Weather/js/controllers/searchController.js"></script>
	</body>
</html>