<div class="main-view">
    <div class="ng-cloak" ng-show="conditionObject">
        Location: [[conditionObject.display_location.city]], [[conditionObject.display_location.state]]<br />
        Condition: [[conditionObject.weather]]<br />
        Temperature: [[conditionObject.temperature_string]]<br />
        Local Time: [[conditionObject.local_time_rfc822]]

        <div class="condition-container" ng-switch on="conditionObject.weather">
            <div ng-switch-when="Light Drizzle">Light Drizzle</div>
            <div ng-switch-when="Drizzle">Drizzle</div>
            <div ng-switch-when="Heavy Drizzle">Heavy Drizzle</div>
            <div ng-switch-when="Light Rain">Light Rain</div>
            <div ng-switch-when="Rain">Rain</div>
            <div ng-switch-when="Heavy Rain">Heavy Rain</div>
            <div ng-switch-when="Light Snow">Light Snow</div>
            <div ng-switch-when="Snow">Snow</div>
            <div ng-switch-when="Heavy Snow">Heavy Snow</div>
            <div ng-switch-when="Light Snow Grains">Light Snow Grains</div>
            <div ng-switch-when="Snow Grains">Snow Grains</div>
            <div ng-switch-when="Heavy Snow Grains">Heavy Snow Grains</div>
            <div ng-switch-when="Light Ice Crystals">Light Ice Crystals</div>
            <div ng-switch-when="Ice Crystals">Ice Crystals</div>
            <div ng-switch-when="Heavy Ice Crystals">Heavy Ice Crystals</div>
            <div ng-switch-when="Light Ice Pellets">Light Ice Pellets</div>
            <div ng-switch-when="Ice Pellets">Ice Pellets</div>
            <div ng-switch-when="Heavy Ice Pellets">Heavy Ice Pellets</div>
            <div ng-switch-when="Light Hail">Light Hail</div>
            <div ng-switch-when="Hail">Hail</div>
            <div ng-switch-when="Heavy Hail">Heavy Hail</div>
            <div ng-switch-when="Light Mist">Light Mist</div>
            <div ng-switch-when="Mist">Mist</div>
            <div ng-switch-when="Heavy Mist">Heavy Mist</div>
            <div ng-switch-when="Light Fog">Light Fog</div>
            <div ng-switch-when="Fog">Fog</div>
            <div ng-switch-when="Heavy Fog">Heavy Fog</div>
            <div ng-switch-when="Light Fog Patches">Light Fog Patches</div>
            <div ng-switch-when="Fog Patches">Fog Patches</div>
            <div ng-switch-when="Heavy Fog Patches">Heavy Fog Patches</div>
            <div ng-switch-when="Light Smoke">Light Smoke</div>
            <div ng-switch-when="Smoke">Smoke</div>
            <div ng-switch-when="Heavy Smoke">Heavy Smoke</div>
            <div ng-switch-when="Light Volcanic Ash">Light Volcanic Ash</div>
            <div ng-switch-when="Volcanic Ash">Volcanic Ash</div>
            <div ng-switch-when="Heavy Volcanic Ash">Heavy Volcanic Ash</div>
            <div ng-switch-when="Light Widespread Dust">Light Widespread Dust</div>
            <div ng-switch-when="Widespread Dust">Widespread Dust</div>
            <div ng-switch-when="Heavy Widespread Dust">Heavy Widespread Dust</div>
            <div ng-switch-when="Light Sand">Light Sand</div>
            <div ng-switch-when="Sand">Sand</div>
            <div ng-switch-when="Heavy Sand">Heavy Sand</div>
            <div ng-switch-when="Light Haze">Light Haze</div>
            <div ng-switch-when="Haze">Haze</div>
            <div ng-switch-when="Heavy Haze">Heavy Haze</div>
            <div ng-switch-when="Light Spray">Light Spray</div>
            <div ng-switch-when="Spray">Spray</div>
            <div ng-switch-when="Heavy Spray">Heavy Spray</div>
            <div ng-switch-when="Light Dust Whirls">Light Dust Whirls</div>
            <div ng-switch-when="Dust Whirls">Dust Whirls</div>
            <div ng-switch-when="Heavy Dust Whirls">Heavy Dust Whirls</div>
            <div ng-switch-when="Light Sandstorm">Light Sandstorm</div>
            <div ng-switch-when="Sandstorm">Sandstorm</div>
            <div ng-switch-when="Heavy Sandstorm">Heavy Sandstorm</div>
            <div ng-switch-when="Light Low Drifting Snow">Light Low Drifting Snow</div>
            <div ng-switch-when="Low Drifting Snow">Low Drifting Snow</div>
            <div ng-switch-when="Heavy Low Drifting Snow">Heavy Low Drifting Snow</div>
            <div ng-switch-when="Light Low Drifting Widespread Dust">Light Low Drifting Widespread Dust</div>
            <div ng-switch-when="Low Drifting Widespread Dust">Low Drifting Widespread Dust</div>
            <div ng-switch-when="Heavy Low Drifting Widespread Dust">Heavy Low Drifting Widespread Dust</div>
            <div ng-switch-when="Light Low Drifting Sand">Light Low Drifting Sand</div>
            <div ng-switch-when="Low Drifting Sand">Low Drifting Sand</div>
            <div ng-switch-when="Heavy Low Drifting Sand">Heavy Low Drifting Sand</div>
            <div ng-switch-when="Light Blowing Snow">Light Blowing Snow</div>
            <div ng-switch-when="Blowing Snow">Blowing Snow</div>
            <div ng-switch-when="Heavy Blowing Snow">Heavy Blowing Snow</div>
            <div ng-switch-when="Light Blowing Widespread Dust">Light Blowing Widespread Dust</div>
            <div ng-switch-when="Blowing Widespread Dust">Blowing Widespread Dust</div>
            <div ng-switch-when="Heavy Blowing Widespread Dust">Heavy Blowing Widespread Dust</div>
            <div ng-switch-when="Light Blowing Sand">Light Blowing Sand</div>
            <div ng-switch-when="Blowing Sand">Blowing Sand</div>
            <div ng-switch-when="Heavy Blowing Sand">Heavy Blowing Sand</div>
            <div ng-switch-when="Light Rain Mist">Light Rain Mist</div>
            <div ng-switch-when="Rain Mist">Rain Mist</div>
            <div ng-switch-when="Heavy Rain Mist">Heavy Rain Mist</div>
            <div ng-switch-when="Light Rain Showers">Light Rain Showers</div>
            <div ng-switch-when="Rain Showers">Rain Showers</div>
            <div ng-switch-when="Heavy Rain Showers">Heavy Rain Showers</div>
            <div ng-switch-when="Light Snow Showers">Light Snow Showers</div>
            <div ng-switch-when="Snow Showers">Snow Showers</div>
            <div ng-switch-when="Heavy Snow Showers">Heavy Snow Showers</div>
            <div ng-switch-when="Light Snow Blowing Snow Mist">Light Snow Blowing Snow Mist</div>
            <div ng-switch-when="Snow Blowing Snow Mist">Snow Blowing Snow Mist</div>
            <div ng-switch-when="Heavy Snow Blowing Snow Mist">Heavy Snow Blowing Snow Mist</div>
            <div ng-switch-when="Light Ice Pellet Showers">Light Ice Pellet Showers</div>
            <div ng-switch-when="Ice Pellet Showers">Ice Pellet Showers</div>
            <div ng-switch-when="Heavy Ice Pellet Showers">Heavy Ice Pellet Showers</div>
            <div ng-switch-when="Light Hail Showers">Light Hail Showers</div>
            <div ng-switch-when="Hail Showers">Hail Showers</div>
            <div ng-switch-when="Heavy Hail Showers">Heavy Hail Showers</div>
            <div ng-switch-when="Light Small Hail Showers">Light Small Hail Showers</div>
            <div ng-switch-when="Small Hail Showers">Small Hail Showers</div>
            <div ng-switch-when="Heavy Small Hail Showers">Heavy Small Hail Showers</div>
            <div ng-switch-when="Light Thunderstorm">Light Thunderstorm</div>
            <div ng-switch-when="Thunderstorm">Thunderstorm</div>
            <div ng-switch-when="Heavy Thunderstorm">Heavy Thunderstorm</div>
            <div ng-switch-when="Light Thunderstorms and Rain">Light Thunderstorms and Rain</div>
            <div ng-switch-when="Thunderstorms and Rain">Thunderstorms and Rain</div>
            <div ng-switch-when="Heavy Thunderstorms and Rain">Heavy Thunderstorms and Rain</div>
            <div ng-switch-when="Light Thunderstorms and Snow">Light Thunderstorms and Snow</div>
            <div ng-switch-when="Thunderstorms and Snow">Thunderstorms and Snow</div>
            <div ng-switch-when="Heavy Thunderstorms and Snow">Heavy Thunderstorms and Snow</div>
            <div ng-switch-when="Light Thunderstorms and Ice Pellets">Light Thunderstorms and Ice Pellets</div>
            <div ng-switch-when="Thunderstorms and Ice Pellets">Thunderstorms and Ice Pellets</div>
            <div ng-switch-when="Heavy Thunderstorms and Ice Pellets">Heavy Thunderstorms and Ice Pellets</div>
            <div ng-switch-when="Light Thunderstorms with Hail">Light Thunderstorms with Hail</div>
            <div ng-switch-when="Thunderstorms with Hail">Thunderstorms with Hail</div>
            <div ng-switch-when="Heavy Thunderstorms with Hail">Heavy Thunderstorms with Hail</div>
            <div ng-switch-when="Light Thunderstorms with Small Hail">Light Thunderstorms with Small Hail</div>
            <div ng-switch-when="Thunderstorms with Small Hail">Thunderstorms with Small Hail</div>
            <div ng-switch-when="Heavy Thunderstorms with Small Hail">Heavy Thunderstorms with Small Hail</div>
            <div ng-switch-when="Light Freezing Drizzle">Light Freezing Drizzle</div>
            <div ng-switch-when="Freezing Drizzle">Freezing Drizzle</div>
            <div ng-switch-when="Heavy Freezing Drizzle">Heavy Freezing Drizzle</div>
            <div ng-switch-when="Light Freezing Rain">Light Freezing Rain</div>
            <div ng-switch-when="Freezing Rain">Freezing Rain</div>
            <div ng-switch-when="Heavy Freezing Rain">Heavy Freezing Rain</div>
            <div ng-switch-when="Light Freezing Fog">Light Freezing Fog</div>
            <div ng-switch-when="Freezing Fog">Freezing Fog</div>
            <div ng-switch-when="Heavy Freezing Fog">Heavy Freezing Fog</div>
            <div ng-switch-when="Patches of Fog">Patches of Fog</div>
            <div ng-switch-when="Shallow Fog">Shallow Fog</div>
            <div ng-switch-when="Partial Fog">Partial Fog</div>
            <div ng-switch-when="Overcast">Overcast</div>
            <div ng-switch-when="Clear">Clear</div>
            <div ng-switch-when="Partly Cloudy">Partly Cloudy</div>
            <div ng-switch-when="Mostly Cloudy">Mostly Cloudy</div>
            <div ng-switch-when="Scattered Clouds">Scattered Clouds</div>
            <div ng-switch-when="Small Hail">Small Hail</div>
            <div ng-switch-when="Squalls">Squalls</div>
            <div ng-switch-when="Funnel Cloud">Funnel Cloud</div>
            <div ng-switch-when="Unknown Precipitation">Unknown Precipitation</div>
            <div ng-switch-when="Unknown">Unknown</div>
        </div>
    </div>
</div>