<div class="row justify-content-end">
  <div class="search-container col-12 col-sm-5 text-right input-group">
    <input
      id="typeahead-focus"
      type="text"
      class="form-control"
      [(ngModel)]="model"
      [ngbTypeahead]="search"
      (focus)="focus$.next($event.target.value)"
      (click)="click$.next($event.target.value)"
      #instance="ngbTypeahead"
    />
    <div class="input-group-append">
      <button class="btn" type="button" ng-onclick="searchClick()">Search</button>
    </div>
  </div>
</div>