<div class="row justify-content-end">
  <div class="search-container col-12 col-sm-5 text-right input-group">
    <input
      id="typeahead-http"
      type="text"
      class="form-control"
      [class.is-invalid]="searchFailed"
      [(ngModel)]="model"
      [ngbTypeahead]="search"
      [resultFormatter]="formatMatches"
      [inputFormatter]="formatMatches"
      placeholder="City/State Search"
    />
    <div class="input-group-append">
      <button class="btn" type="button" (click)="searchClick()">Search</button>
    </div>
  </div>
</div>